<div class="exception-body error-page">

    <div class="exception-top">
        <img src="assets/layout/images/icon-error.png">
    </div>

    <div class="exception-bottom">
        <div class="exception-wrapper">
            <span class="exception-summary">Exception Occured</span>
            <span class="exception-detail">Please Contact System Admin</span>
            <button type="button" pButton label="Dashboard" icon="pi pi-home" class="p-button-secondary" [routerLink]="['/']"></button>
            <img src="assets/layout/images/logo-icon-white.png" class="logo-icon">
            <span class="exception-footer">PrimeNG Poseidon</span>
        </div>
    </div>
</div>
