<div class="exception-body notfound-page">

    <div class="exception-top">
        <img src="assets/layout/images/icon-404.png">
    </div>

    <div class="exception-bottom">
        <div class="exception-wrapper">
            <span class="exception-summary">Page Not Found</span>
            <span class="exception-detail">The resource is not available.</span>
            <button type="button" pButton label="Dashboard" icon="pi pi-home" class="p-button-secondary" [routerLink]="['/']"></button>
            <img src="assets/layout/images/logo-icon-white.png" class="logo-icon">
            <span class="exception-footer">PrimeNG Poseidon</span>
        </div>
    </div>
</div>
