$bodyBgColor:linear-gradient(99deg, #394149 0%, #2F363E 100%)!default;
$textColor:#E5E8EC !default;
$textSecondaryColor:#CDD2DB !default;

$contentBgColor:#434B54 !default;
$contentAltBgColor:#4E565F !default;
$dividerColor:#4E565F !default;

$menuTooltipBgColor:#1c202c !default;
$menuTooltipTextColor:#ffffff !default;

$overlayBorder:1px solid $dividerColor !default;
$overlayShadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12) !default;

//accent
$accentColor: #90CAF9 !default;
$accentTextColor: #121212 !default;

//sidebar right
$rightSidebarWidth: 16rem !default;
$rightSidebarBg: #1e1e1e !default;

:root{
    --content-alt-bg-color:#{$contentAltBgColor};
}

@import './_layout_common';
