<div class="layout-dashboard">
    <button
        (click)="logout()"
        [routerLink]="routerLink"
        pbutton=""
        pripple=""
        class="p-element p-ripple mr-2 mb-2 p-button p-component"
        ng-reflect-label="Submit"
    >
        <span class="p-button-label">Logout</span>
        <span class="p-ink"></span>
    </button>
    <div class="grid">
        <div class="col-12 md:col-12 xl:col-3">
            <div class="card overview-box blue">
                <div class="card-header">
                    <h6>Facture saisie</h6>
                    <div class="header-buttons">
                        <a href="#"><i class="pi pi-arrow-up"></i></a>
                    </div>
                </div>
                <div class="overview-content">
                    <h3>{{ nbFacture }}</h3>
                    <div class="overview-graph">
                        <span [ngStyle]="{'height': affiche_facture[5]}"
                            ><span class="graph-tooltip">{{affiche_facture[5]}}</span></span
                        >
                        <span [ngStyle]="{'height': affiche_facture[4]}"
                            ><span class="graph-tooltip">{{affiche_facture[4]}}</span></span
                        >
                        <span [ngStyle]="{'height': affiche_facture[3]}"
                            ><span class="graph-tooltip">{{affiche_facture[3]}}</span></span
                        >
                        <span [ngStyle]="{'height': affiche_facture[2]}"
                            ><span class="graph-tooltip">{{affiche_facture[2]}}</span></span
                        >
                        <span [ngStyle]="{'height': affiche_facture[1]}"
                            ><span class="graph-tooltip">{{affiche_facture[1]}}</span></span
                        >
                        <span [ngStyle]="{'height': affiche_facture[0]}"
                            ><span class="graph-tooltip">{{affiche_facture[0]}}</span></span
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 xl:col-3">
            <div class="card overview-box teal">
                <div class="card-header">
                    <h6>Recette</h6>
                    <div class="header-buttons">
                        <a href="#"><i class="pi pi-arrow-up"></i></a>
                    </div>
                </div>
                <div class="overview-content">
                    <h3>{{recette}}</h3>
                    <div class="overview-graph">
                        <span style="height: 30px"
                            ><span class="graph-tooltip">30</span></span
                        >
                        <span style="height: 43px"
                            ><span class="graph-tooltip">43</span></span
                        >
                        <span style="height: 48px"
                            ><span class="graph-tooltip">48</span></span
                        >
                        <span style="height: 40px"
                            ><span class="graph-tooltip">40</span></span
                        >
                        <span style="height: 52px"
                            ><span class="graph-tooltip">52</span></span
                        >
                        <span style="height: 18px"
                            ><span class="graph-tooltip">18</span></span
                        >
                    </div>
                </div>
                <div class="overview-footer down">
                    <span
                        ><i class="pi pi-arrow-down"></i> <span>12%</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 xl:col-3">
            <div class="card overview-box orange">
                <div class="card-header">
                    <h6>Depense</h6>
                    <div class="header-buttons">
                        <a href="#"><i class="pi pi-arrow-up"></i></a>
                    </div>
                </div>
                <div class="overview-content">
                    <h3>55.95%</h3>
                    <div class="overview-graph">
                        <span style="height: 20px"
                            ><span class="graph-tooltip">20</span></span
                        >
                        <span style="height: 23px"
                            ><span class="graph-tooltip">23</span></span
                        >
                        <span style="height: 52px"
                            ><span class="graph-tooltip">52</span></span
                        >
                        <span style="height: 18px"
                            ><span class="graph-tooltip">18</span></span
                        >
                        <span style="height: 28px"
                            ><span class="graph-tooltip">28</span></span
                        >
                        <span style="height: 42px"
                            ><span class="graph-tooltip">42</span></span
                        >
                    </div>
                </div>
                <div class="overview-footer">
                    <span><i class="pi pi-arrow-up"></i> <span>6%</span> </span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 xl:col-3">
            <div class="card overview-box pink">
                <div class="card-header">
                    <h6>Etoiles</h6>
                    <div class="header-buttons">
                        <a href="#"><i class="pi pi-arrow-up"></i></a>
                    </div>
                </div>
                <div class="overview-content">
                    <h3>15.37%</h3>
                    <div class="overview-graph">
                        <span style="height: 17px"
                            ><span class="graph-tooltip">20</span></span
                        >
                        <span style="height: 39px"
                            ><span class="graph-tooltip">23</span></span
                        >
                        <span style="height: 22px"
                            ><span class="graph-tooltip">52</span></span
                        >
                        <span style="height: 34px"
                            ><span class="graph-tooltip">18</span></span
                        >
                        <span style="height: 28px"
                            ><span class="graph-tooltip">28</span></span
                        >
                        <span style="height: 52px"
                            ><span class="graph-tooltip">42</span></span
                        >
                    </div>
                </div>
                <div class="overview-footer down">
                    <span
                        ><i class="pi pi-arrow-down"></i>
                        <span>1.1%</span> decrease in today sales</span
                    >
                </div>
            </div>
        </div>

        <div class="col-12 xl:col-9 big-graph">
            <div class="card sale-graph">
                <div class="card-header">
                    <h6>Statistique mensuelle</h6>
                </div>
                <div id="order-tabs-container" class="order-tabs">
                    <div
                        class="order-tab"
                        data-label="New Sales"
                        data-index="0"
                        data-stroke="#00acac"
                    >
                        <h6>Recette pour cette semaine</h6>
                        <h3>$455.55</h3>
                    </div>
                    <div
                        class="order-tab"
                        data-label="Previous Sales"
                        data-index="1"
                        data-stroke="#2f8ee5"
                    >
                        <h6>Depense pour cette semaine</h6>
                        <h3>$244.40</h3>
                    </div>
                </div>
                <div class="overview-chart">
                    <p-chart
                        #orders
                        type="line"
                        [data]="ordersChart"
                        [options]="ordersOptions"
                        [responsive]="true"
                    ></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>
