<h4>Reusable CSS widgets for your applications.</h4>

<div class="p-grid">
	<div class="p-col-12">
		<div class="card">
			<h4>Overview Boxes</h4>
			<div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="p-grid p-nogutter card widget-overview-box overview-box-1">
                        <div class="p-col-4">
                            <i class="pi pi-inbox"></i>
                        </div>
                        <div class="p-col-8">
                            <span class="overview-box-count">253</span>
                            <span class="overview-box-name">Messages</span>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="p-grid p-nogutter card widget-overview-box overview-box-2">
                        <div class="p-col-4">
                            <i class="pi pi-map-marker"></i>
                        </div>
                        <div class="p-col-8">
                            <span class="overview-box-count">3216</span>
                            <span class="overview-box-name">Check-ins</span>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="p-grid p-nogutter card widget-overview-box overview-box-3">
                        <div class="p-col-4">
                            <i class="pi pi-cloud"></i>
                        </div>
                        <div class="p-col-8">
                            <span class="overview-box-count">428</span>
                            <span class="overview-box-name">Files Synced</span>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="p-grid p-nogutter card widget-overview-box overview-box-4">
                        <div class="p-col-4">
                            <i class="pi pi-key"></i>
                        </div>
                        <div class="p-col-8">
                            <span class="overview-box-count">4</span>
                            <span class="overview-box-name">Login Attempts</span>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-timeline p-fluid">
            <div class="p-grid">
                <div class="p-col-3">
                    <span class="event-time">just now</span>
                    <i class="pi pi-map-marker" style="color:#009688"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#009688">Katherine May</span>
                    <span class="event-text">Lorem ipsun dolor amet</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/bridge.png" width="100">
                    </div>
                </div>

                <div class="p-col-3">
                    <span class="event-time">12h ago</span>
                    <i class="pi pi-star" style="color:#f1b263"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#f1b263">Brandon Santos</span>
                    <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">2d ago</span>
                    <i class="pi pi-globe" style="color:#2f8ee5"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#2f8ee5">Jason Smith</span>
                    <span class="event-text">Laudantium, repudiandae, similique!</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/map.png" width="100">
                    </div>
                </div>

                <div class="p-col-3">
                    <span class="event-time">1w ago</span>
                    <i class="pi pi-heart" style="color:#6c76af"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner">Kevin Cox</span>
                    <span class="event-text">Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">2w ago</span>
                    <i class="pi pi-compass" style="color:#2d353c"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#2d353c">Walter White</span>
                    <span class="event-text">I am the one who knocks!</span>
                </div>

                <div class="p-col-12">
                    <button type="button" label="Refresh" icon="pi pi-refresh" pButton></button>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-activity-list" [style]="{'height':'100%'}">
            <h4>Activity</h4>
            <div class="activity-header">
                <div class="p-grid">
                    <div class="p-col-6">
                        <span style="font-weight:bold">Last Activity</span>
                        <p>Updated 1 minute ago</p>
                    </div>
                    <div class="p-col-6" style="text-align:right">
                        <button type="button" label="Update" icon="pi pi-refresh" pButton></button>
                    </div>
                </div>
            </div>
            <ul class="activity-list">
                <li>
                    <div class="count">$900</div>
                    <div class="p-grid">
                        <div class="p-col-6">Income</div>
                        <div class="p-col-6">95%</div>
                    </div>
                </li>
                <li>
                    <div class="count" style="background-color:#00acac">$250</div>
                    <div class="p-grid">
                        <div class="p-col-6">Tax</div>
                        <div class="p-col-6">24%</div>
                    </div>
                </li>
                <li>
                    <div class="count" style="background-color:#2f8ee5">$125</div>
                    <div class="p-grid">
                        <div class="p-col-6">Invoices</div>
                        <div class="p-col-6">55%</div>
                    </div>
                </li>
                <li>
                    <div class="count" style="background-color:#f1b263">$250</div>
                    <div class="p-grid">
                        <div class="p-col-6">Expenses</div>
                        <div class="p-col-6">15%</div>
                    </div>
                </li>
                <li>
                    <div class="count" style="background-color:#6c76af">$350</div>
                    <div class="p-grid">
                        <div class="p-col-6">Bonus</div>
                        <div class="p-col-6">5%</div>
                    </div>
                </li>
                <li>
                    <div class="count" style="background-color:#2f8ee5">$500</div>
                    <div class="p-grid">
                        <div class="p-col-6">Revenue</div>
                        <div class="p-col-6">25%</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card p-fluid widget-contact-form">
            <h4>Contact Us</h4>
            <div class="p-grid">
                <div class="p-col-12">
                    <input id="name" type="text" pInputText placeholder="Name" >
                </div>
                <div class="p-col-12">
                    <input id="age" type="text" pInputText placeholder="Age" >
                </div>
                <div class="p-col-12">
                    <input id="message" type="text" pInputText placeholder="Message">
                </div>
            </div>
            <button type="button" label="Send" icon="pi pi-check" pButton></button>
        </div>

        <div class="card widget-contacts">
            <h4>Contacts</h4>
            <ul>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar1.png" width="45">
                        <span class="name">Joshua Williams</span>
                        <span class="email">joshua@ng-poseidon.com</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar2.png" width="45">
                        <span class="name">Emily Clark</span>
                        <span class="email">emily@ng-poseidon.com</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar3.png" width="45">
                        <span class="name">Susan Johnson</span>
                        <span class="email">susan@ng-poseidon.com</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar4.png" width="45">
                        <span class="name">Kelly Stark</span>
                        <span class="email">kelly@ng-poseidon.com</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
