<h4>Reusable CSS widgets for your applications.</h4>


<div class="layout-widgets">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card overview-box-2 teal">
                <div class="overview-info">
                    <h6>Revenue Status</h6>
                    <h3>87363</h3>
                </div>
                <i class="pi pi-dollar"></i>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card overview-box-2 orange">
                <div class="overview-info">
                    <h6>Page View</h6>
                    <h3>87363</h3>
                </div>
                <i class="pi pi-eye"></i>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card overview-box-2 blue">
                <div class="overview-info">
                    <h6>Bounce Rate</h6>
                    <h3>87363</h3>
                </div>
                <i class="pi pi-compass"></i>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card overview-box-2 pink">
                <div class="overview-info">
                    <h6>Comments</h6>
                    <h3>87363</h3>
                </div>
                <i class="pi pi-heart"></i>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-4">
            <div class="card  overview-box-1 blue">
                <div class="card-header">
                    <h6>Revenue Status</h6>
                    <div class="header-buttons">
                        <a href="#"><i class="pi pi-arrow-up"></i></a>
                    </div>
                </div>
                <div class="overview-content">
                    <h3>87363</h3>
                    <div class="overview-graph">
                        <span style="height: 12px;"><span class="graph-tooltip">12</span></span>
                        <span style="height: 40px;"><span class="graph-tooltip">40</span></span>
                        <span style="height: 26px;"><span class="graph-tooltip">26</span></span>
                        <span style="height: 17px;"><span class="graph-tooltip">17</span></span>
                        <span style="height: 36px;"><span class="graph-tooltip">36</span></span>
                        <span style="height: 51px;"><span class="graph-tooltip">51</span></span>
                    </div>
                </div>
                <div class="overview-footer ">
                    <span><i class="pi pi-arrow-up"></i> <span>55%</span> increase in today sales</span>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-xl-4">
            <div class="card  overview-box-1 teal">
                <div class="card-header">
                    <h6>Page View</h6>
                    <div class="header-buttons">
                        <a href="#"><i class="pi pi-arrow-up"></i></a>
                    </div>
                </div>
                <div class="overview-content">
                    <h3>5592</h3>
                    <div class="overview-graph">
                        <span style="height: 30px;"><span class="graph-tooltip">30</span></span>
                        <span style="height: 43px;"><span class="graph-tooltip">43</span></span>
                        <span style="height: 48px;"><span class="graph-tooltip">48</span></span>
                        <span style="height: 40px;"><span class="graph-tooltip">40</span></span>
                        <span style="height: 352x;"><span class="graph-tooltip">52</span></span>
                        <span style="height: 18px;"><span class="graph-tooltip">18</span></span>
                    </div>
                </div>
                <div class="overview-footer down">
                    <span><i class="pi pi-arrow-down"></i> <span>12%</span> decrease in today sales</span>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-xl-4">
            <div class="card  overview-box-1 orange">
                <div class="card-header">
                    <h6>Bounce Rate</h6>
                    <div class="header-buttons">
                        <a href="#"><i class="pi pi-arrow-up"></i></a>
                    </div>
                </div>
                <div class="overview-content">
                    <h3>55.95%</h3>
                    <div class="overview-graph">
                        <span style="height: 20px;"><span class="graph-tooltip">20</span></span>
                        <span style="height: 23px;"><span class="graph-tooltip">23</span></span>
                        <span style="height: 52px;"><span class="graph-tooltip">52</span></span>
                        <span style="height: 18px;"><span class="graph-tooltip">18</span></span>
                        <span style="height: 28px;"><span class="graph-tooltip">28</span></span>
                        <span style="height: 42px;"><span class="graph-tooltip">42</span></span>
                    </div>
                </div>
                <div class="overview-footer">
                    <span><i class="pi pi-arrow-up"></i> <span>6%</span> increase in today sales</span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-8">
            <div class="card news">
                <div class="news-content">
                    <h5>Air Quality Impacts Early Brain Development: Rats exposed to air pollution from
                        traffic at risk of neurodevelopmental disorders</h5>
                    <span>Researchers at the University of California, Davis, have found a link between
                                    traffic-related air pollution and an increased risk for changes in brain development
                                    relevant to neurodevelopmental disorders. Their study, based on rodent models,
                                    corroborates previous epidemiological evidence showing this association.</span>
                    <div class="news-content-footer">
                        <span><span>June 17, 2020 </span>in <span class="category">Human and Animal Health</span></span>
                        <span>By <span>Trina Wood</span></span>
                    </div>
                </div>
                <div class="news-image"></div>
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-xl-4">
            <div class="card likes">
                <div class="card-header">
                    <h6>Likes</h6>
                </div>
                <div class="likes-chart">
                    <p-chart #like type="bar" [data]="likeChart" [options]="likeOptions"></p-chart>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-12">
            <div class="card news-feed">
                <div class="p-grid p-nogutter">
                    <div class="p-col-12 p-md-6 p-xl-3">
                        <div class="news-feed-card">
                            <i class="pi pi-palette"></i>
                            <span class="title">Sotheby’s Reports $2.5 Billion in Sales</span>
                            <span class="news-feed-desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet vulputate laoreet. Maecenas sed sagittis lorem, sit amet egestas odio.
                                        </span>
                            <a href="#">Learn More <i class="pi pi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-xl-3">
                        <div class="news-feed-card">
                            <i class="pi pi-list"></i>
                            <span class="title">7 Things to Do This Weekend</span>
                            <span class="news-feed-desc">
                                            Phasellus lacinia tortor massa, quis elementum est posuere sit amet. Donec gravida efficitur urna quis congue.
                                        </span>
                            <a href="#">Learn More <i class="pi pi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-xl-3">
                        <div class="news-feed-card">
                            <i class="pi pi-heart"></i>
                            <span class="title">New York Love Story: The Submarine Officer and the Beatles Cover Band</span>
                            <span class="news-feed-desc">
                                            Proin blandit, neque sagittis pellentesque sodales, metus nunc mattis enim, a consequat ipsum odio sed massa.
                                        </span>
                            <a href="#">Learn More <i class="pi pi-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-xl-3">
                        <div class="news-feed-card">
                            <i class="pi pi-video"></i>
                            <span class="title">The World’s Greatest Directors Have Their Own Streaming Lists</span>
                            <span class="news-feed-desc">
                                            Fusce feugiat augue ac nunc imperdiet consectetur. Sed lobortis justo orci, sollicitudin faucibus lorem volutpat quis.
                                        </span>
                            <a href="#">Learn More <i class="pi pi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-6">
            <div class="card timeline">
                <div class="card-header">
                    <h6>Recent Activities</h6>
                </div>
                <ul>
                    <li>
                        <span class="time">3 mins ago</span>
                        <div class="event-icon">
                            <i class="pi pi-dollar"></i>
                        </div>
                        <div class="event-content">
                            <span class="event-title">New Sale</span>
                            <span>Richard Jones has purchased a blue t-shirt for $79.</span>
                        </div>
                    </li>
                    <li>
                        <span class="time">3 mins ago</span>
                        <div class="event-icon">
                            <i class="pi pi-download"></i>
                        </div>
                        <div class="event-content">
                            <span class="event-title">Withdrawal Initiated</span>
                            <span>Your request for withdrawal of $2500 has been initiated.</span>
                        </div>
                    </li>
                    <li>
                        <span class="time">5 mins ago</span>
                        <div class="event-icon">
                            <i class="pi pi-question"></i>
                        </div>
                        <div class="event-content">
                            <span class="event-title">Question Received</span>
                            <span>Jane Davis has posted a new question about your product.</span>
                        </div>
                    </li>
                    <li>
                        <span class="time">1 day ago</span>
                        <div class="event-icon">
                            <i class="pi pi-comments"></i>
                        </div>
                        <div class="event-content">
                            <span class="event-title">Comment Received</span>
                            <span>Claire Smith has upvoted your store along with a comment.</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-6">
            <div class="card chat">
                <div class="card-header">
                    <h6>Chat</h6>
                </div>
                <div class="chat-messages">
                    <div class="chat-message-row">
                        <div class="chat-message">
                            <img src="assets/layout/images/pages/avatar-chat-1.png" alt="poseidon-layout" />
                            <div class="chat-message-content">
                                <span>Chat message placeholder text comes here…</span>
                            </div>
                        </div>
                        <div class="chat-message-footer">
                            <h6>Shirai Subaru</h6>
                            <span>4 mins ago</span>
                        </div>
                    </div>
                    <div class="chat-message-row send">
                        <div class="chat-message">
                            <img src="assets/layout/images/pages/avatar-chat-2.png" alt="poseidon-layout" />
                            <div class="chat-message-content">
                                <span>Chat message placeholder text comes here…</span>
                            </div>
                        </div>
                        <div class="chat-message-footer">
                            <h6>Wim Willems</h6>
                            <span>4 mins ago</span>
                        </div>
                    </div>
                    <div class="chat-message-row">
                        <div class="chat-message">
                            <img src="assets/layout/images/pages/avatar-chat-1.png" alt="poseidon-layout" />
                            <div class="chat-message-content">
                                <span>Chat message placeholder text comes here…</span>
                            </div>
                        </div>
                        <div class="chat-message-footer">
                            <h6>Shirai Subaru</h6>
                            <span>4 mins ago</span>
                        </div>
                    </div>
                </div>
                <div class="chat-input">
                    <input type="text" pInputText placeholder="Write your message here..." />
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-8">
            <div class="card map">
                <div class="map-image"></div>
                <div class="map-content">
                    <div class="map-adjust">
                        <i class="pi pi-ellipsis-v"></i>
                    </div>
                    <ul>
                        <li>
                            <i class="pi pi-map-marker"></i>
                            <div class="map-info">
                                <span><span>Order</span> #333 is delivered </span>
                                <span class="time">2 mins ago</span>
                            </div>
                        </li>
                        <li>
                            <i class="pi pi-map-marker"></i>
                            <div class="map-info">
                                <span><span>Order</span> #334 is delivered </span>
                                <span class="time">2 mins ago</span>
                            </div>
                        </li>
                        <li>
                            <i class="pi pi-map-marker"></i>
                            <div class="map-info">
                                <span><span>Order</span> #335 is delivered </span>
                                <span class="time">2 mins ago</span>
                            </div>
                        </li>
                        <li>
                            <i class="pi pi-map-marker"></i>
                            <div class="map-info">
                                <span><span>Order</span> #336 is delivered </span>
                                <span class="time">2 mins ago</span>
                            </div>
                        </li>
                        <li>
                            <i class="pi pi-map-marker"></i>
                            <div class="map-info">
                                <span><span>Order</span> #337 is delivered </span>
                                <span class="time">2 mins ago</span>
                            </div>
                        </li>
                        <li>
                            <i class="pi pi-map-marker"></i>
                            <div class="map-info">
                                <span><span>Order</span> #338 is delivered </span>
                                <span class="time">2 mins ago</span>
                            </div>
                        </li>
                        <li>
                            <i class="pi pi-map-marker"></i>
                            <div class="map-info">
                                <span><span>Order</span> #339 is delivered </span>
                                <span class="time">2 mins ago</span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-4">
            <div class="card profile">
                <div class="profile-header">
                    <img src="assets/layout/images/pages/avatar-profil.png" alt="poseidon-layout" />
                </div>
                <div class="profile-content">
                    <h6>Adam Subaru</h6>
                    <span>Delivery Master 👑</span>
                    <p-button type="button" label="Follow Adam"></p-button>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-8">
            <div class="card sale-graph">
                <div class="card-header">
                    <h6>Top Products</h6>
                </div>
                <div id="order-tabs-container" class="order-tabs">
                    <div class="order-tab" [ngClass]="{'order-tab-active':activeOrders===0}"
                         (click)="changeDataset($event); orders.refresh()"
                         data-label="New Sales" data-index="0" data-stroke="#00acac" >
                        <h6>Current Week</h6>
                        <h3>$455.55</h3>
                    </div>
                    <div class="order-tab" [ngClass]="{'order-tab-active':activeOrders===1}"
                         (click)="changeDataset($event); orders.refresh()"
                         data-label="Previous Sales" data-index="1" data-stroke="#2f8ee5">
                        <h6>Previous Week</h6>
                        <h3>$244.40</h3>
                    </div>
                </div>
                <div class="overview-chart">
                    <p-chart #orders type="line" [data]="ordersChart" [options]="ordersOptions" [responsive]="true"></p-chart>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-4" >
            <div class="pricing-card classic">
                <div class="pricing-header">
                    <span class="price">$0.00</span>
                    <h5>BEGINNER</h5>
                    <span>Good starting point for startups</span>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>Responsive</li>
                        <li>10 Support Tickets</li>
                        <li>Free Shipping</li>
                        <li class="not-included">Unlimited Space</li>
                        <li class="not-included">Push Messages</li>
                    </ul>
                    <p-button type="button" label="TRY FREE" class="p-button-info"></p-button>
                </div>

            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="card product-list">
                <div class="card-header">
                    <h6>Product List</h6>
                </div>
                <ul>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-1.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>Nike Air X12</p>
                                <span>Sold <span>250</span> times</span>
                            </div>

                        </div>
                        <i class="pi pi-arrow-up"></i>
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-2.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>Nike Sports Watch</p>
                                <span>Sold <span>189</span> times</span>
                            </div>

                        </div>
                        <i class="pi pi-arrow-up"></i>
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-3.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>Heinz Yellow Mustard</p>
                                <span>Sold <span>24</span> times</span>
                            </div>

                        </div>
                        <i class="pi pi-arrow-up"></i>
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-4.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>Beats Headphone</p>
                                <span>Sold <span>24</span> times</span>
                            </div>

                        </div>
                        <i class="pi pi-arrow-down down"></i>
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-5.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>Black Racing Bike</p>
                                <span>Sold <span>24</span> times</span>
                            </div>

                        </div>
                        <i class="pi pi-arrow-up"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="card sellers">
                <div class="card-header">
                    <h6>Seller List</h6>
                </div>
                <ul>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-1.png" alt="poseidon-layout" />
                            <p>Hector Mariano</p>
                        </div>
                        <span>Tier 1</span>
                        <p-rating [(ngModel)]="val2" readonly="true" stars="3"></p-rating>
                        <p-menu #menu1 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-secondary p-button-outlined" (click)="menu1.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-2.png" alt="poseidon-layout" />
                            <p>Maria Illescas</p>
                        </div>
                        <span>Tier 2</span>
                        <p-rating [(ngModel)]="val2" readonly="true" stars="3"></p-rating>
                        <p-menu #menu2 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-secondary p-button-outlined" (click)="menu2.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-3.png" alt="poseidon-layout" />
                            <p>Ngô Hải Giang</p>
                        </div>
                        <span>Tier 3</span>
                        <p-rating [(ngModel)]="val1" readonly="true" stars="3"></p-rating>
                        <p-menu #menu3 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-secondary p-button-outlined" (click)="menu3.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/seller-4.png" alt="poseidon-layout" />
                            <p>Tamas Bunce</p>
                        </div>
                        <span>Tier 4</span>
                        <p-rating [(ngModel)]="val1" readonly="true" stars="3"></p-rating>
                        <p-menu #menu4 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-secondary p-button-outlined" (click)="menu4.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/avatar-conan.png" alt="poseidon-layout" />
                            <p>Conan Matusov</p>
                        </div>
                        <span>Tier 4</span>
                        <p-rating [(ngModel)]="val1" readonly="true" stars="3"></p-rating>
                        <p-menu #menu5 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-secondary p-button-outlined" (click)="menu5.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/leader-4.png" alt="poseidon-layout" />
                            <p>Maria Illescas</p>
                        </div>
                        <span>Tier 4</span>
                        <p-rating [(ngModel)]="val1" readonly="true" stars="3"></p-rating>
                        <p-menu #menu6 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-secondary p-button-outlined" (click)="menu6.toggle($event)"></button>
                    </li>
                    <li>
                        <div class="seller">
                            <img src="assets/layout/images/dashboard/leader-3.png" alt="poseidon-layout" />
                            <p>Su Hua</p>
                        </div>
                        <span>Tier 4</span>
                        <p-rating [(ngModel)]="val1" readonly="true" stars="3"></p-rating>
                        <p-menu #menu7 [popup]="true" [model]="items"></p-menu>
                        <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-secondary p-button-outlined" (click)="menu7.toggle($event)"></button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="card tasks">
                <div class="card-header">
                    <h6>Tasks</h6>
                </div>
                <div>
                    <div class="task task-1">
                        <div class="task-info">
                            <div class="task-name"><span>12</span> Orders to fulfill</div>
                            <i class="pi pi-tag"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-2">
                        <div class="task-info">
                            <div class="task-name"><span>40+</span> Payments to withdraw</div>
                            <i class="pi pi-money-bill"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-3">
                        <div class="task-info">
                            <div class="task-name"><span>4</span> Reports to revise</div>
                            <i class="pi pi-file"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-4">
                        <div class="task-info">
                            <div class="task-name"><span>6</span> Questions to respond</div>
                            <i class="pi pi-comment"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-5">
                        <div class="task-info">
                            <div class="task-name"><span>2</span> Chargebacks to review</div>
                            <i class="pi pi-check-square"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-1">
                        <div class="task-info">
                            <div class="task-name"><span>12</span> Orders to fulfill</div>
                            <i class="pi pi-tag"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-2">
                        <div class="task-info">
                            <div class="task-name"><span>40+</span> Payments to withdraw</div>
                            <i class="pi pi-money-bill"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
