<h2>Depense</h2>

<div class="grid">
    
    <div class="col-12">
        <div class="card px-6 py-6">
            <form style="display: flex; justify-content: flex-end;" [formGroup]='searchForm'>
                <p-dropdown [options]= "valueToSearch" [(ngModel)]="selectedValue"  optionValue="value" optionLabel="value" formControlName='search' ></p-dropdown> 
            </form>
            <p-table #dt [value]="depense" selectionMode="single">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Enregistrer facture</h5>
                        
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"  placeholder="Recherche..."  class="w-full sm:w-auto" (keyup.enter)="getByDate($event)"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>ID <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Date opération <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Numero facture <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Date facture <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Type <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Circuit <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Fournisseur <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Description <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Statu <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Saisisseur <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Montant hors taxe<p-sortIcon field="code"></p-sortIcon></th>
                        <th>TVA <p-sortIcon field="code"></p-sortIcon></th>
                        <th>Montant TTC <p-sortIcon field="code"></p-sortIcon></th>
                        
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-depense>
                    <tr (click)="openEdit(depense)" [class.selected]="depense === selectedRow">
                        <td style="width:14%; min-width:10rem;">
                            <p-tableCheckbox ></p-tableCheckbox >
                            
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            <!--<span class="p-column-title">Date</span>-->
                            {{depense.id_depense}} 
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.date_operation | date: 'dd/MM/yyyy'}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.numero_facture}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.date_facture | date: 'dd/MM/yyyy'}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.type}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.circuit}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.fournisseur}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{depense.description}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.statu}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.admin.nom}} {{depense.admin.prenom}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.montant_HT}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.TVA}}
                        </td>
                        <td style="width:14%; min-width:10rem;" >
                            {{depense.montant_HT + depense.TVA}}
                        </td> 
                    </tr>
                </ng-template>
            </p-table>

            
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openDialog()"></button>
                        
                    </div>
                </ng-template>
            
                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                </ng-template>
               
            </p-toolbar>
            
            
        </div>
    
        

    </div>
    
</div>

<form [formGroup]='depenseForm'>
    <p-dialog  [(visible)]="addNewD" [style]="{width: '450px'}" header="Facture de dépense" [modal]="true" class="p-fluid">
    
        
        <ng-template pTemplate="content">
            
            <div class="field">
                <label for="">Date d'opération</label>
                <p-calendar type="string" inputId="icon" formControlName = 'date_operation' dateFormat="dd-mm-yy"></p-calendar>
            </div>
            <div class="field">
                <label for="">Date de la facture</label>
                <p-calendar type="string" inputId="icon" formControlName = 'date_facture' dateFormat="dd-mm-yy"></p-calendar>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Numero de la facture</label>
                    <p-inputNumber formControlName='numero_facture' type="number"></p-inputNumber>
                </div>
                
            </div>
            <div class="field">
                <label for="type">type</label>
                <input formControlName='type' type="text" pInputText id="type"  required autofocus/>
                <!--<small class="ng-dirty ng-invalid">Name is required.</small>-->
            </div>
            
            <div class="field">
                <label for="fournisseur">Circuit</label>
                <input type="text" pInputText id="circuit"  required autofocus formControlName='circuit'/>
               <!--<small class="ng-dirty ng-invalid">Name is required.</small>-->
            </div>

            <div class="field">
                <label for="fournisseur">fournisseur</label>
                <input type="text" pInputText id="fournisseur"  required autofocus formControlName='fournisseur'/>
               <!--<small class="ng-dirty ng-invalid">Name is required.</small>-->
            </div>
    
            <div class="field">
                <label for="design">description</label>
                <textarea id="design" pInputTextarea  required rows="3" cols="20" formControlName='description'></textarea>
            </div>
    
            <div class="field">
                <label for="status">Chemin</label>
                <p-dropdown [options]= "status" [(ngModel)]="selectedStatu" optionValue="name" optionLabel="name" formControlName='statu'>
                    <!-- <ng-template pTemplate="selectedItem">
                        <span >statu1</span>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <span >statu1</span>
                        <span>statu2</span>
                    </ng-template> -->
                </p-dropdown>
            </div>
    
    
            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Montant hors taxe</label>
                    <p-inputNumber formControlName='montant_HT' type="number"></p-inputNumber>
                </div>
                
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">TVA</label>
                    <p-inputNumber formControlName='TVA' type="number"></p-inputNumber>
                </div>
                
            </div>
        </ng-template>
    
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click) = "hideDialog()"></button>
            <button pButton pRipple  icon="pi pi-trash" class="p-button-text" label="Delete" (click)="id == null ? hideDialog() : confirmDelete()"></button>
            <button (click)="id == null ? postDepense() : editDepense()"  pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
            
        </ng-template>
    </p-dialog>
    
</form> 

<p-dialog [(visible)]="deleteDialog" >
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)= "delete()"></button>
    </ng-template>
</p-dialog>
