$fontFamily:"Open Sans","Helvetica Neue",sans-serif;
$fontSize:14px;
$textColor:#5f666c;
$textSecondaryColor:lighten($textColor,10%);
$borderRadius:2px;
$dividerColor:#c9cdd2;
$transitionDuration:.3s;
$inlineSpacing:.5em;

/* List Items */
$listItemPadding:.5em 1em;
$listItemHoverBgColor:#f0f3f5;
$listItemHoverTextColor:#5f666c;

/* Horizontal Menu */
$hmenuBGColor:#f0f3f5;

/* Predefined Colors */
$turquoise:#00acac;
$blue:#2f8ee5;
$orange:#efa64c;
$purple:#6c76af;
$deepPurple:#7e57c2;
