<div class="p-grid dashboard">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid p-nogutter card overview-box overview-box-1">
            <div class="p-col-4">
                <i class="pi pi-inbox"></i>
            </div>
            <div class="p-col-8">
                <span class="overview-box-count">253</span>
                <span class="overview-box-name">Messages</span>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid p-nogutter card overview-box overview-box-2">
            <div class="p-col-4">
                <i class="pi pi-map-marker"></i>
            </div>
            <div class="p-col-8">
                <span class="overview-box-count">3216</span>
                <span class="overview-box-name">Check-ins</span>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid p-nogutter card overview-box overview-box-3">
            <div class="p-col-4">
                <i class="pi pi-cloud"></i>
            </div>
            <div class="p-col-8">
                <span class="overview-box-count">428</span>
                <span class="overview-box-name">Files Synced</span>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid p-nogutter card overview-box overview-box-4">
            <div class="p-col-4">
                <i class="pi pi-key"></i>
            </div>
            <div class="p-col-8">
                <span class="overview-box-count">4</span>
                <span class="overview-box-name">Login Attempts</span>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-4 task-list">
        <p-panel header="Tasks" [style]="{'minHeight':'360px'}">
            <ul>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Sales Reports</span>
                    <i class="pi pi-briefcase"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Pay Invoices</span>
                    <i class="pi pi-money-bill"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Dinner with Tony</span>
                    <i class="pi pi-calendar"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Client Meeting</span>
                    <i class="pi pi-user"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">New Theme</span>
                    <i class="pi pi-palette"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Flight Ticket</span>
                    <i class="pi pi-ticket"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Generate Charts</span>
                    <i class="pi pi-chart-bar"></i>
                </li>
            </ul>
        </p-panel>
    </div>
    <div class="p-col-12 p-md-6 p-lg-4 p-fluid contact-form">
        <p-panel header="Contact Us" [style]="{'minHeight':'360px'}">
            <div class="p-grid">
                <div class="p-col-12">
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                </div>
                <div class="p-col-12">
                    <input id="name" type="text" pInputText placeholder="Name" >
                </div>
                <div class="p-col-12">
                    <input id="age" type="text" pInputText placeholder="Age" >
                </div>
                <div class="p-col-12">
                    <input id="message" type="text" pInputText placeholder="Message">
                </div>
            </div>
            <button type="button" label="Send" icon="pi pi-check" pButton></button>
        </p-panel>
    </div>
    <div class="p-col-12 p-lg-4 contacts">
        <p-panel header="Contacts" [style]="{'minHeight':'360px'}">
            <ul>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar1.png" width="45">
                        <span class="name">Joshua Williams</span>
                        <span class="email">joshua@ng-poseidon.com</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar2.png" width="45">
                        <span class="name">Emily Clark</span>
                        <span class="email">emily@ng-poseidon.com</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar3.png" width="45">
                        <span class="name">Susan Johnson</span>
                        <span class="email">susan@ng-poseidon.com</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar4.png" width="45">
                        <span class="name">Kelly Stark</span>
                        <span class="email">kelly@ng-poseidon.com</span>
                    </a>
                </li>
            </ul>
        </p-panel>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card timeline p-fluid">
            <div class="p-grid">
                <div class="p-col-3">
                    <span class="event-time">just now</span>
                    <i class="pi pi-map-marker" style="color:#009688"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#009688">Katherine May</span>
                    <span class="event-text">Lorem ipsun dolor amet</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/bridge.png" width="100">
                    </div>
                </div>

                <div class="p-col-3">
                    <span class="event-time">12h ago</span>
                    <i class="pi pi-star" style="color:#f1b263"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#f1b263">Brandon Santos</span>
                    <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">15h ago</span>
                    <i class="pi pi-comment" style="color:#2f8ee5"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#2f8ee5">Stephan Ward</span>
                    <span class="event-text">Omnis veniam quibusdam ratione est repellat qui nam quisquam ab mollitia dolores ullam voluptates, similique, dignissimos.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">2d ago</span>
                    <i class="pi pi-globe" style="color:#2f8ee5"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#2f8ee5">Jason Smith</span>
                    <span class="event-text">Laudantium, repudiandae, similique!</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/map.png" width="100">
                    </div>
                </div>

                <div class="p-col-3">
                    <span class="event-time">1w ago</span>
                    <i class="pi pi-heart" style="color:#6c76af"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner">Kevin Cox</span>
                    <span class="event-text">Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">2w ago</span>
                    <i class="pi pi-compass" style="color:#2d353c"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#2d353c">Walter White</span>
                    <span class="event-text">I am the one who knocks!</span>
                </div>

                <div class="p-col-12">
                    <button type="button" label="Refresh" icon="pi pi-refresh" pButton></button>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-8">
        <div class="card">
            <p-table [value]="products" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Category
                            <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">Price
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="inventoryStatus">Status
                            <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.price | currency:'USD'}}</td>
                        <td><span
                            [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                        </td>
                        <td style="text-align: center">
                            <button pButton type="button" icon="pi pi-search"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-panel header="Sales Graph">
                <p-chart type="line" [data]="chartData" responsive="true"></p-chart>
            </p-panel>
        </div>
    </div>

    <div class="p-col-12 p-md-8">
        <p-panel header="Calendar" [style]="{'height':'100%'}">
            <p-fullCalendar [events]="events" [options]="fullcalendarOptions" ></p-fullCalendar>
        </p-panel>
    </div>
    <div class="p-col-12 p-md-4">
        <p-panel header="Activity" [style]="{'height':'100%'}">
            <div class="activity-header">
                <div class="p-grid">
                    <div class="p-col-6">
                        <span style="font-weight:bold">Last Activity</span>
                        <p>Updated 1 minute ago</p>
                    </div>
                    <div class="p-col-6" style="text-align:right">
                        <button type="button" label="Update" icon="pi pi-refresh" pButton></button>
                    </div>
                </div>
            </div>
            <ul class="activity-list">
                <li>
                    <div class="count">$900</div>
                    <div class="p-grid">
                        <div class="p-col-6">Income</div>
                        <div class="p-col-6">95%</div>
                    </div>
                </li>
                <li>
                    <div class="count" style="background-color:#00acac">$250</div>
                    <div class="p-grid">
                        <div class="p-col-6">Tax</div>
                        <div class="p-col-6">24%</div>
                    </div>
                </li>
                <li>
                    <div class="count" style="background-color:#2f8ee5">$125</div>
                    <div class="p-grid">
                        <div class="p-col-6">Invoices</div>
                        <div class="p-col-6">55%</div>
                    </div>
                </li>
                <li>
                    <div class="count" style="background-color:#f1b263">$250</div>
                    <div class="p-grid">
                        <div class="p-col-6">Expenses</div>
                        <div class="p-col-6">15%</div>
                    </div>
                </li>
                <li>
                    <div class="count" style="background-color:#6c76af">$350</div>
                    <div class="p-grid">
                        <div class="p-col-6">Bonus</div>
                        <div class="p-col-6">5%</div>
                    </div>
                </li>
                <li>
                    <div class="count" style="background-color:#2f8ee5">$500</div>
                    <div class="p-grid">
                        <div class="p-col-6">Revenue</div>
                        <div class="p-col-6">25%</div>
                    </div>
                </li>
            </ul>
        </p-panel>
    </div>
</div>
